<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Top Artists</p>
            <div *ngFor="let artist of topArtists" class="artist">
                <img src="{{artist.images[0].url}}" alt="" width="80px" class="artist-avatar">
                <a [routerLink]="['/artist/'+artist.id]" routerLinkActive="router-link-active">{{artist.name}}</a>
            </div>
        </div>
        <div class="col-md-6">
            <p>Favourites</p>
            <div *ngFor="let artist of favArtists" class="artist">
                <img src="{{artist.images[0].url}}" alt="" width="80px" class="artist-avatar">
                <a [routerLink]="['/artist/'+artist.id]" routerLinkActive="router-link-active">{{artist.name}}</a>
            </div>
        </div>
    </div>
</div>