<div class="container">
    <header class="header">
        <h2 class="recent-title">Recently Played</h2>
    </header>

    <div *ngFor="let track of recentlyPlayed" class="tracks">
        <a [routerLink]="['/track/'+track.id]" class="tracks-inner">
            <img src="{{track.album.images[1].url}}" alt="" width="52px" class="track-image">
            <div class="track-details">
                <p class="track-name">{{track.name}}</p>
                <p class="additional-details">
                    <span class="duration">{{calculateDuration(track.duration_ms)}}</span>
                    &nbsp;&middot;&nbsp;&nbsp;
                    <span *ngFor="let artist of track.album.artists; let isLast = last">
                        {{artist.name}}{{isLast ? '' : ', '}}
                    </span>
                    &nbsp;&middot;&nbsp;&nbsp;
                    <span>{{track.album.name}}</span>
                </p>
            </div>
        </a>
    </div>
</div>