<div class="container-fluid m-0">
    <div class="row mt-3">
        <div class="col-md-4 text-center">
            <div class="artist-display">
                <img src="{{artistImage}}" alt="" width="380px" class="artist-avatar">
                <p class="artist-name">{{artistName}}</p>
                <button class="follow-btn">follow</button>
            </div>
        </div>
        <div class="col-md-6 mt-2 tracks-container">
            <p class="tracks-title">Top Tracks</p>
            <div *ngFor="let track of topTracks" class="tracks">
                <a [routerLink]="['/track/'+track.id]" class="tracks-inner">
                    <img src="{{track.album.images[1].url}}" alt="" width="52px" class="track-image">
                    <div class="track-details">
                        <p class="track-name">{{track.name}}</p>
                        <p class="additional-details">
                            <span class="duration">{{calculateDuration(track.duration_ms)}}</span>
                            &nbsp;&middot;&nbsp;&nbsp;
                            <span *ngFor="let artist of track.album.artists; let isLast = last">
                                {{artist.name}}{{isLast ? '' : ', '}}
                            </span>
                            &nbsp;&middot;&nbsp;&nbsp;
                            <span>{{track.album.name}}</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>